<footer>
	<div class="row">
		<div class="small-4 columns">
			<a href="">
				<img src="/images/icons/icon-twitter@2x.png" alt="twitter icon" />
			</a>
		</div>
		<div class="small-4 columns">
			<a href="">
				<img src="/images/icons/icon-email@2x.png" alt="email icon" />
			</a>
		</div>
		<div class="small-4 columns">
			<a href="">
				<img src="/images/icons/icon-linkedin@2x.png" alt="linkedin icon" />
			</a>
		</div>
	</div>
	{{> footer-includes}}
</footer>