<footer>
	<div class="row">
		<div class="small-4 columns">
			<a href="https://twitter.com/deangilewicz" target="_blank" rel="noopener noreferrer">
				<svg viewBox="0 0 626 515" xmlns='http://www.w3.org/2000/svg'>
					<path d="M619,68.3c-22.5,10-46.7,16.7-72.1,19.8c25.9-15.5,45.8-40.2,55.2-69.4c-24.3,14.4-51.2,24.8-79.8,30.5
					c-22.9-24.4-55.5-39.7-91.6-39.7c-69.3,0-125.6,56.2-125.6,125.5c0,9.8,1.1,19.4,3.3,28.6c-104.3-5.2-196.8-55.2-258.8-131.2
					c-10.8,18.5-17,40.1-17,63.1c0,43.6,22.2,82,55.8,104.5c-20.6-0.7-39.9-6.3-56.9-15.8v1.6c0,60.8,43.3,111.6,100.7,123.1
					c-10.5,2.8-21.6,4.4-33.1,4.4c-8.1,0-15.9-0.8-23.6-2.3c16,49.9,62.3,86.2,117.3,87.2c-42.9,33.7-97.1,53.7-155.9,53.7
					c-10.1,0-20.1-0.6-29.9-1.7c55.6,35.7,121.5,56.5,192.4,56.5c230.9,0,357.2-191.3,357.2-357.2l-0.4-16.3
					C580.9,115.5,602.2,93.4,619,68.3z"/>
				</svg>
			</a>
		</div>
		<div class="small-4 columns">
			<a href="/" target="_blank" rel="noopener noreferrer">
				<svg viewBox="0 0 91.8 62.2">
					<path d="M80,2.5H11.5C6.2,2.5,2,6.7,2,12v38.5c0,5.2,4.3,9.5,9.5,9.5H80c5.2,0,9.5-4.3,9.5-9.5V12
					C89.5,6.7,85.3,2.5,80,2.5z M64.8,27.8l19.7-13.8v34.7L64.8,27.8z M11.5,7.5H80c1.3,0,2.4,0.5,3.2,1.4L51.1,31.3
					c-0.7,0.5-3.1,1.9-5.2,1.9c-3,0-5-1.6-5-1.6L8.1,9C8.9,8.1,10.1,7.5,11.5,7.5z M7,48.8V14.3l19.7,13.6L7,48.8z M11.5,55
					c-1,0-1.9-0.3-2.6-0.9l22.1-23.4l6.9,4.7c0.7,0.5,3.7,2.7,8.1,2.7c4.2,0,7.8-2.6,8.1-2.9l6.7-4.6l22.1,23.4C82,54.7,81.1,55,80,55
					H11.5z"/>
				</svg>
			</a>
		</div>
		<div class="small-4 columns">
			<a href="https://www.linkedin.com/in/deangilewicz/" target="_blank" rel="noopener noreferrer">
				<svg viewBox="0 0 36.9 36.9">
					<path class="st0" d="M33.7,0.4H3.1C1.6,0.4,0.4,1.6,0.4,3v30.8c0,1.4,1.2,2.6,2.7,2.6h30.7c1.5,0,2.7-1.2,2.7-2.6V3
					C36.4,1.6,35.2,0.4,33.7,0.4z M11.1,31.1H5.7V13.9H11L11.1,31.1L11.1,31.1z M8.4,11.5c-1.7,0-3.1-1.4-3.1-3.1s1.4-3,3.1-3
					s3.1,1.4,3.1,3.1S10.1,11.5,8.4,11.5z M31.1,31.1h-5.3v-8.4c0-2,0-4.6-2.8-4.6s-3.2,2.2-3.2,4.4V31h-5.4V13.9h5.1v2.3h0.1
					c0.7-1.4,2.5-2.8,5.1-2.8c5.4,0,6.4,3.6,6.4,8.2V31.1z"/>
				</svg>
			</a>
		</div>
	</div>
	{{> footer-includes}}
</footer>