<!DOCTYPE html>
<html class="no-js" lang="en" />
	
	{{> head meta-title=projects.meta-title meta-description=projects.meta-description}}

	<body class="projects">

		<header>
			{{> nav
				navlinkOne=projects.nav.one.link
				navTitleOne=projects.nav.one.title
				navLinkTwo=projects.nav.two.link
				navTitleTwo=projects.nav.two.title
				navLinkThree=projects.nav.three.link
				navTitleThree=projects.nav.three.title
			}}
		</header>

		<div class="container hero">
			<div class="row">
				
				<div class="columns table">
					<div class="table_cell">
						<h1>Hey there! Allow me <span class="highlight">to show</span><br/>
						some of the <span class="highlight">projects</span> I have<br/>
						been able to  <span class="highlight">work on</span> so far</h1>
					</div>
					<div class="table_cell container_devices">
						<!-- Keyboard -->
						<svg viewBox="0 0 88 44">
							<path class="st0" d="M2.75.92a2,2,0,0,0-2,2v40a2,2,0,0,0,2,2h84a2,2,0,0,0,2-2v-40a2,2,0,0,0-1.81-2H2.75Zm2,4h10v10h-10Zm14,
								0h10v10h-10Zm14,0h10v10h-10Zm14,0h10v10h-10Zm14,0h10v10h-10Zm14,0h10v10h-10Zm-70,14h10v9h-10Zm14,0h10v9h-10Zm14,
								0h10v9h-10Zm14,0h10v9h-10Zm14,0h10v9h-10Zm14,0h10v9h-10Zm-70,13h10v9h-10Zm14,0h52v9h-52Zm56,0h10v9h-10Z" transform="translate(-0.75 -0.92)" />
						</svg>
					</div>
				</div>

			</div>
		</div>

		<div id="websites" class="container websites">
			
			<div class="row">
				<div class="columns title">
					<h2>I have coded a variety of <span class="highlight">websites</span></h2>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>KS</h4>
						</div>
						<div class="work_description">
							<p>Kool Smiles</p>
							<p>mykoolsmiles.com</p>
							<p>JS, SASS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>KSJ</h4>
						</div>
						<div class="work_description">
							<p>Kool Smiles Jobs</p>
							<p>koolsmilesjobs.com</p>
							<p>JS, SASS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>LL</h4>
						</div>
						<div class="work_description">
							<p>Look Listen</p>
							<p>looklisten.com</p>
							<p>HTML, JS, SASS</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>ML</h4>
						</div>
						<div class="work_description">
							<p>Marvel Lander</p>
							<p>Synchrony Financial internal</p>
							<p>HTML, JS, SASS</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns last">
					<div class="container_work">
						<div class="work_icon">
							<h4>MRTV</h4>
						</div>
						<div class="work_description">
							<p>My Ride To Vote</p>
							<p>myridetovote.org</p>
							<p>HTML, JS, SASS</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					&nbsp;
				</div>
			</div>
		</div>

		<div id="wordpress" class="container wordpress">
			
			<div class="row">
				<div class="columns title">
					<h2>I have built a variety of <span class="highlight">custom WordPress themes</span></h2>
				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>B</h4>
						</div>
						<div class="work_description">
							<p>Benevis</p>
							<p>benevis.com</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>GMS</h4>
						</div>
						<div class="work_description">
							<p>Georgia Main Street</p>
							<p>georgiamainstreet.org</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>LLK</h4>
						</div>
						<div class="work_description">
							<p>Look Listen Knowledgebase</p>
							<p>Look Listen internal tool</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>VS</h4>
						</div>
						<div class="work_description">
							<p>Visit Sedona</p>
							<p>visitsedona.com</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns last">
					<div class="container_work">
						<div class="work_icon">
							<h4>WB</h4>
						</div>
						<div class="work_description">
							<p>Wakefield Beasley &amp; Associates</p>
							<p>wakefieldbeasley.com</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					&nbsp;
				</div>
			</div>

		</div>

		<div id="applications" class="container applications">
			
			<div class="row">
				<div class="columns title">
					<h2>I have developed a variety of <span class="highlight">web</span> and <span class="highlight">hybrid applications</span></h2>
				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>ATW</h4>
						</div>
						<div class="work_description">
							<p>Around The World</p>
							<p>MKTG web and hybrid application</p>
							<p>Angular JS, Cordova, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>DP</h4>
						</div>
						<div class="work_description">
							<p>Digital Playbook</p>
							<p>Synchrony Financial internal tool</p>
							<p>Ember JS, Node JS, Express, Sails JS</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>FFM</h4>
						</div>
						<div class="work_description">
							<p>Final Four Microsite</p>
							<p>MKTG mircrosite application</p>
							<p>JS, SASS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>FFR</h4>
						</div>
						<div class="work_description">
							<p>Final Four Registration</p>
							<p>MKTG web and hybrid application</p>
							<p>Angular JS, Cordova, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>FTL</h4>
						</div>
						<div class="work_description">
							<p>Finish That Lyric</p>
							<p>MKTG web and hybrid application</p>
							<p>Angular JS, Cordova, Node JS, Express, Sails JS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>S</h4>
						</div>
						<div class="work_description">
							<p>Smeet</p>
							<p>Own The Room internal tool</p>
							<p>Ember JS, Node JS, Express, Sails JS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>SH</h4>
						</div>
						<div class="work_description">
							<p>Scavenger Hunt</p>
							<p>MKTG web and hybrid application</p>
							<p>Angular JS, Cordova, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>T</h4>
						</div>
						<div class="work_description">
							<p>Tradeshow</p>
							<p>Benevis hybrid application</p>
							<p>Ember JS, Cordova</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns last">
					<div class="container_work">
						<div class="work_icon">
							<h4>U</h4>
						</div>
						<div class="work_description">
							<p>Ulta</p>
							<p>Ulta hybrid application</p>
							<p>Ember JS, Cordova</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		{{> footer}}

	</body>
</html>