<!DOCTYPE html>
<html class="no-js" lang="en" />
	
	{{> head meta-title=style-guide.meta-title meta-description=style-guide.meta-description}}

	<body class="style_guide">

		<header>
			{{> nav
				navlinkOne=style-guide.nav.one.link
				navTitleOne=style-guide.nav.one.title
				navLinkTwo=style-guide.nav.two.link
				navTitleTwo=style-guide.nav.two.title
				navLinkThree=style-guide.nav.three.link
				navTitleThree=style-guide.nav.three.title
			}}
		</header>

		<div class="container hero">
			<div class="row">
				
				<div class="columns table">
					<div class="table_cell">
						<h1>Welcome to my <span class="highlight">style guide</span>!<br/>
						A <span class="highlight">reference</span> to help<br/>
						keep <span class="highlight">consistancy</span> across my <span class="highlight">personal projects</span></h1>
					</div>
					<div class="table_cell container_devices">
						<!-- Mouse -->
						<svg viewBox="0 0 50.4 87.6">
							<path class="st0" d="M26.2.75A25.23,25.23,0,0,0,1,25.95v37.2a25.2,25.2,0,0,0,50.4,0h0V25.95A25.23,25.23,0,0,0,26.2.75ZM47.8,26V32A69.79,69.79,0,0,1,
							28,35.31V4.44A21.62,21.62,0,0,1,47.8,26ZM24.4,4.44V35.31A69.73,69.73,0,0,1,4.6,32V25.95A21.62,21.62,0,0,1,24.4,4.44Zm1.8,80.31A21.63,21.63,0,0,1,
							4.6,63.15V35.82a74.63,74.63,0,0,0,21.6,3.12,74.59,74.59,0,0,0,21.6-3.12V63.15A21.62,21.62,0,0,1,26.2,84.75Z" transform="translate(-1 -0.75)" />
						</svg>
					</div>
				</div>

			</div>
		</div>

		<div id="fonts" class="container fonts">
			<div class="row">
				<div class="columns title">
					<h2>The collection of <span class="highlight">fonts</span><br/>
					that are <span class="highlight">included</span> in my projects</h2>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<p class="rubik">Rubik</p>
				</div>
				<div class="medium-6 columns">
					<p class="roboto_mono">Roboto Mono</p>
				</div>
			</div>
		</div>

		<div id="colours" class="container colours">
			<div class="row">
				<div class="columns title">
					<h2>The collection of <span class="highlight">colours</span><br/>
					that are <span class="highlight">incorporated</span> in my projects</h2>
				</div>
			</div>
			<div class="row">
				<div class="medium-4 columns">
					<p>Black - <span class="black">#000000</span></p>
				</div>
				<div class="medium-4 columns">
					<p>Blue - <span class="blue">#66ADEC</span></p>
				</div>
				<div class="medium-4 columns">
					<p>Green - <span class="green">#97E657</span></p>
				</div>
			</div>
			<div class="row">
				<div class="medium-4 columns">
					<p>Grey - <span class="grey">#CFCFCF</span></p>
				</div>
				<div class="medium-4 columns">
					<p>Orange - <span class="orange">#FF8800</span></p>
				</div>
				<div class="medium-4 columns">
					<p>White - <span class="white">#FFFFFF</span></p>
				</div>
			</div>
		</div>

		<div id="entities" class="container entities">
			<div class="row">
				<div class="columns title">
					<h2>The collection of <span class="highlight">entities</span> to <span class="highlight">connect</span>,<br/>
					inspire, and <span class="highlight">be inspired</span> by those<br/>
					<span class="highlight">inside</span> and <span class="highlight">outside</span> of the <span class="highlight">community</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="medium-4 columns">
					<a href="/" target="_blank" rel="noopener noreferrer" class="container_entity">
						<img src="/images/logos/logo-portfolio-black.svg" alt="Portfolio icon" />
						<span>Portfolio</span>
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="https://www.thecodelog.com/" target="_blank" rel="noopener noreferrer" class="container_entity">
						<img src="/images/logos/logo-tcl-stacked-black.svg" alt="The Code Log icon" class="logo_tcl" />
						<span>The Code Log</span>
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="https://github.com/DeanGilewicz" target="_blank" rel="noopener noreferrer" class="container_entity">
						<img src="/images/logos/logo-github.svg" alt="GitHib icon" />
						<span>GitHub</span>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="medium-4 columns">
					<a href="https://codepen.io/deangilewicz/" target="_blank" rel="noopener noreferrer" class="container_entity">
						<img src="/images/logos/logo-codepen.svg" alt="Codepen icon" />
						<span>Codepen</span>
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="https://www.linkedin.com/in/deangilewicz/" target="_blank" rel="noopener noreferrer" class="container_entity">
						<img src="/images/icons/icon-linkedin-black.svg" alt="LinkedIn icon" />
						<span>LinkedIn</span>
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="https://twitter.com/deangilewicz" target="_blank" rel="noopener noreferrer" class="container_entity">
						<img src="/images/icons/icon-twitter-black.svg" alt="Twitter icon" />
						<span>Twitter</span>
					</a>
				</div>
			</div>
		</div>

		{{> footer}}

	</body>
</html>