footer {
	padding-top: $spacing*4;
	padding-bottom: $spacing*4;
	background-color: $black;
	text-align: center;

	svg {
		height: auto;
		fill: $grey;
		transition: fill 0.6s ease;
	}

	a:hover svg,
	a:active svg {
		fill: $green;
	}

	.columns:first-child img,
	.columns:first-child svg {
		max-width: 36px;

		@media (min-width: $medium) {
			max-width: 46px;
		}

	}

	.columns:nth-child(2) img,
	.columns:nth-child(2) svg {
		max-width: 46px;

		@media (min-width: $medium) {
			max-width: 60px;
		}

	}

	.columns:nth-child(3) img,
	.columns:nth-child(3) svg {
		max-width: 30px;

		@media (min-width: $medium) {
			max-width: 40px;
		}

	}

}