header {
	padding-top: $spacing*3;
	padding-bottom: $spacing*3;
	background-color: $black;

	nav {
		text-align: right;
	}

	a {
		transition: color 0.6s ease;
	}

	a:hover,
	a:active {
		color: $green;
	}

}