body.index {

	.container {
		padding-top: $spacing*10;
		padding-bottom: $spacing*10;
	}

	.container.hero {
		padding-top: $spacing*20;
		background-color: $blue;

		h1 {
			margin: 0;
		}

	}

	.container.about,
	.container.projects.two {
		background-color: lighten($grey, 17%);
	}

	.container.about .logos {
		text-align: center;
		
		img {
			max-width: 100px;
		}

		.columns:first-child img {
			max-width: 220px;
		}

	}

	.container.projects.one,
	.container.reach_out {
		background-color: $white;
	}

	.container.about {
		color: $black;
	}
	
	.container.projects.one {
		color: $orange;
	}

	.container.projects.two {
		color: $blue;
	}

	.container.reach_out {
		color: $green;
	}




}