body.index {

	.container {
		padding-top: $spacing*10;
		padding-bottom: $spacing*14;
	}

	.title {
		text-align: center;
		padding-bottom: $spacing*10;
	}

	.screenshot {
		padding-bottom: $spacing*14;
	}

	.table {
		@media (min-width: $medium) {
			display: table;
			width: 100%;
		}

	}

	.table_cell {
		@media (min-width: $medium) {
			display: table-cell;
			width: 50%;
			vertical-align: middle;

			&:first-child {
				padding-right: .9375rem;
			}

			&:last-child {
				padding-left: .9375rem;
			}

		}
	}


	.container.hero {
		position: relative;
		padding-top: $spacing*20;
		background-color: $blue;

		h1 {
			margin: 0;
		}

		.table .table_cell:first-child {
			width: 64%;
			vertical-align: bottom;
		}

		.table .table_cell:last-child {
			width: 36%;
			vertical-align: bottom;
		}

	}

	.container_devices {
		text-align: right;
		
		svg {
			fill: $white;
		}

		svg:first-child {
			max-width: 32px;
		}

		svg:nth-child(2) {
			max-width: 54px;
		}
		
		svg:last-child {
			max-width: 164px;
		}

	}

	.container.about,
	.container.projects.two {
		background-color: lighten($grey, 17%);
	}

	.container.projects.one,
	.container.reach_out {
		background-color: $white;
	}

	.container.about {
		color: $black;

		.logos {
			text-align: center;
			
			img {
				max-width: 100px;
			}

			.columns:first-child img {
				max-width: 220px;
			}

		}

	}
	
	.container.projects.one {
		padding-bottom: $spacing*12;
		color: $black;

		h2 {
			color: $blue;
		}

		h4 {
			margin-top: $spacing*3;
			margin-bottom: 0;
			color: $blue;
		}
	}

	.container.projects.two {
		padding-top: $spacing*14;
		color: $black;

		h4 {
			margin: 0;
			color: $blue;
		}
	}

	.container.reach_out {
		padding-bottom: $spacing*12;
		color: $orange;

		.container_resumes {
			text-align: center;
		}

		img {
			max-width: 60px;
		}

	}




}