body.index {

	h1,
	h2 {
		margin: 0;
	}

	.container {
		padding-top: $spacing*10;
		padding-bottom: $spacing*10;
	}

	.title {
		text-align: center;
		padding-bottom: $spacing*10;
	}

	.table {
		@media (min-width: $medium) {
			display: table;
			width: 100%;
		}

	}

	.table_cell {
		@media (min-width: $medium) {
			display: table-cell;
			width: 50%;
			vertical-align: middle;

			&:first-child {
				padding-right: .9375rem;
			}

			&:last-child {
				padding-left: .9375rem;
			}

		}
	}

	.container.hero {
		position: relative;
		background-color: $blue;

		@media (min-width: $tablet) {
			padding-top: $spacing*20;
			padding-bottom: $spacing*20;
		}

		.table .table_cell:first-child {

			@media (min-width: $medium) {
				vertical-align: bottom;
			}

			@media (min-width: $tablet) {
				width: 60%;
			}
		}

		.table .table_cell:last-child {

			@media (min-width: $medium) {
				vertical-align: bottom;
			}

			@media (min-width: $tablet) {
				width: 40%;
			}
		}

	}

	.container_devices {
		margin-top: $spacing*10;
		text-align: center;

		@media (min-width: $medium) {
			margin-top: 0;
			text-align: right;
		}

		svg {
			fill: $white;
		}

		svg:first-child {
			max-width: 26px;

			@media (min-width: $tablet) {
				max-width: 32px;
			}

		}

		svg:nth-child(2) {
			max-width: 48px;

			@media (min-width: $tablet) {
				max-width: 54px;
			}

		}

		svg:last-child {
			max-width: 140px;

			@media (min-width: $tablet) {
				max-width: 164px;
			}

		}

	}

	.container.code,
	.container.work.two {
		background-color: lighten($grey, 17%);
	}

	.container.work.three {
		background-color: $white;
	}

	.container.code {
		color: $black;

		.logos {
			text-align: center;

			a {
				display: inline-block;
			}

			img {
				max-width: 70px;

				@media (min-width: $tablet) {
					max-width: 100px;
				}

			}

			.columns:first-child a,
			.columns:nth-child(2) a {
				margin-bottom: $spacing*5;
			}

			// .columns:first-child img {
			// 	max-width: 180px;

			// 	@media (min-width: $tablet) {
			// 		max-width: 220px;
			// 	}

			// }

		}

	}

	.container.work.one,
	.container.work.two,
	.container.work.three {
		color: $black;

		h2,
		h4,
		p {
			margin: 0;
		}

		h4 {
			font-size: $font_size*2.4;

			@media (min-width: $medium) {
				font-size: $font_size*4;
			}

		}

		.container_work {
			margin-bottom: $spacing*6;
		}

		.row:last-child .container_work {
			@media (min-width: $medium) {
				margin-bottom: 0;
			}
		}

		.row:last-child .last .container_work {
			margin-bottom: 0;

			@media (min-width: $medium) {
				margin-bottom: $spacing*6;
			}

		}

		.work_icon {
			padding-top: $spacing;
			padding-bottom: $spacing;

			h4 {
				font-weight: 900;
			}
		}

		.work_description {

			p:first-child {
				font-weight: 900;
			}

			p:nth-child(2) {
				font-style: italic;
			}

		}
	}

	.container.work.one {
		h2,
		h4 {
			color: $blue;
		}

	}

	.container.work.two {
		h2,
		h4 {
			color: $orange;
		}

	}

	.container.work.three {
		h2,
		h4 {
			color: $black;
		}
	}

	.container.reach_out {
		// background-color: lighten($grey, 17%);
		// color: $blue;
		color: $black;

		.container_resumes {
			text-align: center;
		}

		img {
			max-width: 40px;

			@media (min-width: $medium) {
				max-width: 60px;
			}

		}

		a {
			font-family: $font_rubik;
			text-transform: uppercase;
			font-weight: 900;
			color: #555555;

			&:hover,
			&:active {
				color: $green;
			}

		}

	}


}
