body.style_guide {

	h1,
	h2,
	p {
		margin: 0;
	}

	.container {
		padding-top: $spacing*10;
		padding-bottom: $spacing*10;
	}

	.title {
		text-align: center;
		padding-bottom: $spacing*10;
	}

	.screenshot {
		padding-bottom: $spacing*10;
	}

	.table {
		@media (min-width: $medium) {
			display: table;
			width: 100%;
		}

	}

	.table_cell {
		@media (min-width: $medium) {
			display: table-cell;
			width: 50%;
			vertical-align: middle;

			&:first-child {
				padding-right: .9375rem;
			}

			&:last-child {
				padding-left: .9375rem;
			}

		}
	}


	.container.hero {
		position: relative;
		background-color: $blue;

		@media (min-width: $tablet) {
			padding-top: $spacing*20;
			padding-bottom: $spacing*20;
		}

		.table .table_cell:first-child {

			@media (min-width: $medium) {
				width: 80%;
				vertical-align: bottom;
			}

		}

		.table .table_cell:last-child {

			@media (min-width: $medium) {
				width: 20%;
				vertical-align: bottom;
			}

		}

	}

	.container_devices {
		margin-top: $spacing*10;
		text-align: center;

		@media (min-width: $medium) {
			margin-top: 0;
			text-align: right;
		}
		
		svg {
			fill: $white;
			max-width: 56px;

			@media (min-width: $tablet) {
				max-width: 62px;
			}

		}

	}

	.container.fonts {
		background-color: $white;
		color: $black;
		text-align: center;

		.rubik {
			font-family: $font_rubik;
		}

		.roboto_mono {
			font-family: $font_roboto_mono;
		}

		p {
			margin-bottom: $spacing*6;
		}

		.row:last-child .columns:last-child p {
			margin-bottom: 0;
		}

		.row:last-child .columns p {
			
			@media (min-width: $medium) {
				margin-bottom: 0;
			}

		}

	}

	.container.colours {
		background-color: lighten($grey, 17%);
		color: $black;
		text-align: center;

		h2 {
			color: $blue;
		}

		p {
			margin-bottom: $spacing*6;

			@media (min-width: $medium) {
				margin-bottom: $spacing*8;
			}

		}

		.row:last-child .columns:last-child p {
			margin-bottom: 0;
		}

		.row:last-child .columns p {
			
			@media (min-width: $medium) {
				margin-bottom: 0;
			}

		}

		.black {
			color: #000000;
		}

		.blue {
			color: #66ADEC;
		}

		.green {
			color: #97E657;
		}

		.grey {
			color: #CFCFCF;
		}

		.orange {
			color: #FF8800;
		}

		.white {
			color: #FFFFFF;
		}

	}

	.container.entities {
		background-color: $white;
		color: $black;
		text-align: center;
		
		h2 {
			color: $orange;
		}

		img {
			max-width: 30px;
			margin-right: $spacing;

			&.logo_tcl {
				max-width: 60px;
			}

		}

		.container_entity {
			text-decoration: none;
			display: inline-block;
			margin-bottom: $spacing*6;
			cursor: pointer;

			@media (min-width: $medium) {
				margin-bottom: $spacing*8;
			}

		}

		.row:last-child .columns:last-child .container_entity {
			margin-bottom: 0;
		}

		.row:last-child .columns .container_entity {
			
			@media (min-width: $medium) {
				margin-bottom: 0;
			}

		}

	}

}