// Layout

$medium: 640px;

$large: 1024px;

// Colors

$black: #000000;

$blue: #66ADEC;

$green: #97E657;

$grey: #CFCFCF;

$orange: #FF8800;

$white: #FFFFFF;

// Typography

$font_rubik: 'Rubik', sans-serif;
$font_roboto_mono: 'Roboto Mono', monospace;

