<!DOCTYPE html>
<html class="no-js" lang="en" />
	
	{{> head meta-title=404.meta-title meta-description=404.meta-description}}

	<body class="404">

		<header>
			<nav class="row">
				<div class="columns">
					<span><a href="#lost">Help</a></span>
					<span>|</span>
					<span><a href="#lost">I'm</a></span>
					<span>|</span>
					<span><a href="#lost">Lost</a></span>
				</div>
			</nav>
		</header>

		<div class="container hero">
			<div class="row">
				<div class="columns">
					<h1><span class="highlight">Oh no!</span> There isn't anything here<br/>
					have a go at <span class="highlight">clicking the button</span><br/>
					below and <span class="highlight">see what happens</span><br/></h1>
					<a href="/" id="lost" class="button">Take Me Home</a>
				</div>
			</div>
		</div>

	</body>
</html>