<!DOCTYPE html>
<html class="no-js" lang="en" />
	
	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">

		<header>
			<nav class="row">
				<div class="columns">
					<span><a href="">About</a></span>
					<span>|</span>
					<span><a href="">Projects</a></span>
					<span>|</span>
					<span><a href="">Reach Out</a></span>
				</div>
			</nav>
		</header>

		<div class="container hero">
			<div class="row">
				<div class="small-6 columns">
					<h1>Hello! I'm <span class="highlight">Dean</span><br/>
					a <span class="highlight">front end developer</span><br/>
					coding <span class="highlight">responsive web apps</span><br/>
					with <span class="highlight">rich user experiences</span></h1>
				</div>
				<div class="small-6 columns">

				</div>
			</div>
		</div>

		<div class="container about">
			<div class="row">
				<div class="columns">
					<h2>I work with a <span class="highlight">variety of technologies</span><br/>
					to build <span class="highlight">websites, SPAs, and hybrid apps</span></h2>
				</div>
			</div>
			<div class="row logos">
				<div class="medium-4 columns">
					<a href="">
						<img src="/images/logos/logo-tcl-stacked@2x.png" alt="thecodelog logo">
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="">
						<img src="/images/logos/logo-codepen@2x.png" alt="codepen logo">
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="">
						<img src="/images/logos/logo-github@2x.png" alt="github logo">
					</a>
				</div>
			</div>
		</div>

		<div class="container projects one">
			<div class="row">
				<div class="columns">
					<h2>A few more <span class="highlight">examples of projects</span><br/>
					beyond my role at <span class="highlight">a digital agency</span></h2>
				</div>
				<div class="small-6 columns">
					<div class="container_project">
						<img src="" alt="screenshot of thecodelog" />
						<p>Description</p>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="container_project">
						<img src="" alt="screenshot of destinations on a dash" />
						<p>Description</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container projects two">
			<div class="row">
				<div class="medium-6 columns">
					<img src="" alt="screenshot of yeoman generator" />
				</div>
				<div class="medium-6 columns">
					<p>Description</p>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<p>Description</p>
				</div>
				<div class="medium-6 columns">
					<img src="" alt="screenshot of countdown clock" />
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<img src="" alt="screenshot of previous portfolio" />
				</div>
				<div class="medium-6 columns">
					<p>Description</p>
				</div>
			</div>
		</div>

		<div class="container reach_out">
			<div class="row">
				<div class="columns">
					<h2>Let's chat if you too <span class="highlight">are motivated </span><br/>
					by people who care <span class="highlight">about what they do</span><br/>
					take <span class="highlight">pride in their performance</span><br/>
					and <span class="highlight">work hard</span> but <span class="highlight">enjoy life</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<a href=""><img src=""></a>
					<p>Resume</p>
				</div>
				<div class="small-6 columns">
					<a href=""><img src=""></a>
					<p>Resume-bw</p>
				</div>
			</div>
		</div>

		{{> footer}}

	</body>
</html>