<!DOCTYPE html>
<html class="no-js" lang="en" />
	
	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">

		<header>
			{{> nav
				navlinkOne=home.nav.one.link
				navTitleOne=home.nav.one.title
				navLinkTwo=home.nav.two.link
				navTitleTwo=home.nav.two.title
				navLinkThree=home.nav.three.link
				navTitleThree=home.nav.three.title
			}}
		</header>

		<div class="container hero">
			<div class="row">
				
				<div class="columns table">
					<div class="table_cell">
						<h1>Hello! I'm <span class="highlight">Dean</span><br/>
						a <span class="highlight">front end developer</span><br/>
						coding <span class="highlight">responsive web apps</span><br/></h1>
					</div>
					<div class="table_cell container_devices">
						<!-- Phone -->
						<svg viewBox="0 0 47 89.2">
							<path class="st0" d="M38.6,1.9H8.4c-3.7,0-6.6,3-6.6,6.6V81c0,3.7,3,6.6,6.6,6.6h30.3c3.7,0,6.6-3,6.6-6.6V8.5
							C45.3,4.9,42.3,1.9,38.6,1.9z M17.8,7h11.4c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6H17.8c-0.3,0-0.6-0.3-0.6-0.6
							C17.2,7.3,17.5,7,17.8,7z M23.5,82.7c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8
							C27.3,81,25.6,82.7,23.5,82.7z M42.4,70.8H4.6V14.9h37.7V70.8z"/>
						</svg>
						<!-- Tablet -->
						<svg viewBox="0 0 69.5 89.5">
							<path class="st0" d="M60.9,1.9H8.6C4.9,1.9,2,4.9,2,8.5V81c0,3.7,3,6.6,6.6,6.6h52.3c3.7,0,6.6-3,6.6-6.6V8.5
							C67.5,4.9,64.5,1.9,60.9,1.9z M29,7h11.4C40.8,7,41,7.3,41,7.6c0,0.3-0.3,0.6-0.6,0.6H29c-0.3,0-0.6-0.3-0.6-0.6
							C28.5,7.3,28.7,7,29,7z M34.7,82.7c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8
							C38.6,81,36.9,82.7,34.7,82.7z M64.6,70.8H4.9V14.9h59.7V70.8z"/>
						</svg>
						<!-- Laptop -->
						<svg viewBox="0 0 90.5 59.5">
							<g>
								<path class="st0" d="M12.7,54.8h65c2.8,0,5.1-2.3,5.1-5.1V6.1c0-2.8-2.3-5.1-5.1-5.1h-65C9.9,1,7.6,3.3,7.6,6.1v43.6
								C7.6,52.5,9.9,54.8,12.7,54.8z M48.5,52.7c0,0.3-0.3,0.6-0.6,0.6h-5.3c-0.3,0-0.6-0.3-0.6-0.6v0c0-0.3,0.3-0.6,0.6-0.6h5.3
								C48.2,52,48.5,52.3,48.5,52.7L48.5,52.7z M11.2,6.1c0-0.2,0-0.4,0.1-0.6c0,0,0,0,0,0c0,0,0,0,0,0c0.2-0.5,0.8-0.9,1.4-0.9h65
								c0.6,0,1,0.3,1.3,0.7c0.1,0.2,0.2,0.5,0.2,0.8v0c0,0,0,0,0,0v43.6c0,0.4-0.1,0.7-0.3,0.9c-0.3,0.3-0.7,0.6-1.2,0.6h-65
								c-0.3,0-0.6-0.1-0.8-0.3c-0.4-0.3-0.6-0.7-0.7-1.2c0,0,0,0,0,0L11.2,6.1L11.2,6.1z"/>
								<rect x="0.8" y="55.6" class="st0" width="89" height="2.9"/>
							</g>
						</svg>
					</div>
				</div>

			</div>
		</div>

		<div id="code" class="container code">
			<div class="row">
				<div class="columns title">
					<h2>I work with a <span class="highlight">variety of technologies</span><br/>
					to build <span class="highlight">rich user experiences</span></h2>
				</div>
			</div>
			<div class="row logos">
				<div class="medium-4 columns">
					<a href="https://www.thecodelog.com/" target="_blank" rel="noopener noreferrer">
						<img src="/images/logos/logo-tcl-stacked@2x.png" alt="thecodelog logo" />
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="https://codepen.io/deangilewicz/" target="_blank" rel="noopener noreferrer">
						<img src="/images/logos/logo-codepen@2x.png" alt="codepen logo" />
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="https://github.com/DeanGilewicz" target="_blank" rel="noopener noreferrer">
						<img src="/images/logos/logo-github@2x.png" alt="github logo" />
					</a>
				</div>
			</div>
		</div>

		<div id="work" class="container work one">
			
			<div class="row">
				<div class="columns title">
					<h2>I have coded a variety of <span class="highlight">websites</span></h2>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>A</h4>
						</div>
						<div class="work_description">
							<p>Arrow</p>
							<p>arrow.com/s-tech</p>
							<p>HTML, JS, CSS</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>KS</h4>
						</div>
						<div class="work_description">
							<p>Kool Smiles</p>
							<p>mykoolsmiles.com</p>
							<p>JS, CSS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>KSJ</h4>
						</div>
						<div class="work_description">
							<p>Kool Smiles Jobs</p>
							<p>koolsmilesjobs.com</p>
							<p>JS, CSS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>LL</h4>
						</div>
						<div class="work_description">
							<p>Look Listen</p>
							<p>looklisten.com</p>
							<p>HTML, JS, CSS</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>ML</h4>
						</div>
						<div class="work_description">
							<p>Marvel Lander</p>
							<p>Synchrony Financial internal</p>
							<p>HTML, JS, CSS</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns last">
					<div class="container_work">
						<div class="work_icon">
							<h4>MRTV</h4>
						</div>
						<div class="work_description">
							<p>My Ride To Vote</p>
							<p>myridetovote.org</p>
							<p>HTML, JS, CSS</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container work two">
			
			<div class="row">
				<div class="columns title">
					<h2>I have built a variety of <span class="highlight">custom WordPress themes</span></h2>
				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>B</h4>
						</div>
						<div class="work_description">
							<p>Benevis</p>
							<p>benevis.com</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>GMS</h4>
						</div>
						<div class="work_description">
							<p>Georgia Main Street</p>
							<p>georgiamainstreet.org</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>LLK</h4>
						</div>
						<div class="work_description">
							<p>Look Listen Knowledgebase</p>
							<p>Look Listen internal tool</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>VS</h4>
						</div>
						<div class="work_description">
							<p>Visit Sedona</p>
							<p>visitsedona.com</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns last">
					<div class="container_work">
						<div class="work_icon">
							<h4>WB</h4>
						</div>
						<div class="work_description">
							<p>Wakefield Beasley &amp; Associates</p>
							<p>wakefieldbeasley.com</p>
							<p>WordPress</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					&nbsp;
				</div>
			</div>

		</div>

		<div class="container work three">

			<div class="row">
				<div class="columns title">
					<h2>I have developed a variety of <span class="highlight">web</span> and <span class="highlight">hybrid applications</span></h2>
				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>ATW</h4>
						</div>
						<div class="work_description">
							<p>Around The World</p>
							<p>MKTG web and hybrid application</p>
							<p>Angular JS, Cordova, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>DP</h4>
						</div>
						<div class="work_description">
							<p>Digital Playbook</p>
							<p>Synchrony Financial internal tool</p>
							<p>Ember JS, Node JS, Express, Sails JS</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>FFM</h4>
						</div>
						<div class="work_description">
							<p>Final Four Microsite</p>
							<p>MKTG mircrosite application</p>
							<p>JS, CSS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>FFR</h4>
						</div>
						<div class="work_description">
							<p>Final Four Registration</p>
							<p>MKTG web and hybrid application</p>
							<p>Angular JS, Cordova, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>FTL</h4>
						</div>
						<div class="work_description">
							<p>Finish That Lyric</p>
							<p>MKTG web and hybrid application</p>
							<p>Angular JS, Cordova, Node JS, Express, Sails JS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>S</h4>
						</div>
						<div class="work_description">
							<p>Smeet</p>
							<p>Own The Room internal tool</p>
							<p>Ember JS, Node JS, Express, Sails JS, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>SH</h4>
						</div>
						<div class="work_description">
							<p>Scavenger Hunt</p>
							<p>MKTG web and hybrid application</p>
							<p>Angular JS, Cordova, PHP CodeIgniter</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="container_work">
						<div class="work_icon">
							<h4>T</h4>
						</div>
						<div class="work_description">
							<p>Tradeshow</p>
							<p>Benevis hybrid application</p>
							<p>Ember JS, Cordova</p>
						</div>
					</div>
				</div>
				<div class="medium-4 columns last">
					<div class="container_work">
						<div class="work_icon">
							<h4>U</h4>
						</div>
						<div class="work_description">
							<p>Ulta</p>
							<p>Ulta hybrid application</p>
							<p>Ember JS, Cordova</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="reach-out" class="container reach_out">
			<div class="row">
				<div class="columns title">
					<h2>Let's chat if you too are <span class="highlight">motivated by</span><br/>
					people who take <span class="highlight">pride</span> in their <span class="highlight">performance</span><br/>
					and <span class="highlight">work hard</span> but <span class="highlight">enjoy life</span></h2>
				</div>
			</div>
			<div class="row container_resumes">
				<div class="small-6 columns">
					<a href="/resumes/DeanGilewiczResumeColor2018.pdf" target="_blank">
						<img src="/images/icons/icon-resume@2x.png" alt="resume icon" />
						<p>Resume</p>
					</a>
				</div>
				<div class="small-6 columns">
					<a href="/resumes/DeanGilewiczResumeBW2018.pdf" target="_blank">
						<img src="/images/icons/icon-resume@2x.png" alt="resume icon" />
						<p>Resume bw</p>
					</a>
				</div>
			</div>
		</div>

		{{> footer}}

	</body>
</html>