<!DOCTYPE html>
<html class="no-js" lang="en" />
	
	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">

		<header>
			<nav class="row">
				<div class="columns">
					<span><a href="">About</a></span>
					<span>|</span>
					<span><a href="">Projects</a></span>
					<span>|</span>
					<span><a href="">Reach Out</a></span>
				</div>
			</nav>
		</header>

		<div class="container hero">
			<div class="row">
				<div class="columns">
					
					<h1>Hello! I'm <span class="highlight">Dean</span><br/>
					a <span class="highlight">front end developer</span><br/>
					coding <span class="highlight">responsive web apps</span><br/>
					with <span class="highlight">rich user experiences</span></h1>
					
					{{!-- <div class="container_devices"> --}}
						{{!-- <img src="/images/icons/icon-desktop@2x.png" alt="desktop icon" /> --}}
						{{!-- <img src="/images/icons/icon-laptop@2x.png" alt="laptop icon" /> --}}
						{{!-- <img src="/images/icons/icon-tablet@2x.png" alt="tablet icon" /> --}}
						{{!-- <img src="/images/icons/icon-phone@2x.png" alt="phone icon" /> --}}
					{{!-- </div> --}}

				</div>
			</div>
		</div>

		<div class="container about">
			<div class="row">
				<div class="columns title">
					<h2>I work with a <span class="highlight">variety of technologies</span><br/>
					to build <span class="highlight">websites, SPAs, and hybrid apps</span></h2>
				</div>
			</div>
			<div class="row logos">
				<div class="medium-4 columns">
					<a href="">
						<img src="/images/logos/logo-tcl-stacked@2x.png" alt="thecodelog logo">
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="">
						<img src="/images/logos/logo-codepen@2x.png" alt="codepen logo">
					</a>
				</div>
				<div class="medium-4 columns">
					<a href="">
						<img src="/images/logos/logo-github@2x.png" alt="github logo">
					</a>
				</div>
			</div>
		</div>

		<div class="container projects one">
			<div class="row">
				<div class="columns title">
					<h2>A few <span class="highlight">examples of projects</span><br/>
					beyond my role at <span class="highlight">a digital agency</span></h2>
				</div>
				<div class="small-6 columns">
					<div class="container_project">
						<img src="/images/screenshots/thecodelog.jpg" alt="screenshot of thecodelog" />
						<h4>the code log</h4>
						<p>Custom WordPress personal blog providing code notes and snippets to help reinforce the understanding of web development concepts</p>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="container_project">
						<img src="/images/screenshots/destinations-on-a-dash.jpg" alt="screenshot of destinations on a dash" />
						<h4>destinations on a dash</h4>
						<p>Custom WordPress blog for Destinations on a Dash, an insightful travel blog for those looking to get the most out of their trip</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container projects two">
			<div class="row screenshot">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/generator-ll-prototype.jpg" alt="screenshot of yeoman generator" />
					</div>
					<div class="table_cell">
						<h4>Generator LL Prototype</h4>
						<p>A Yeoman generator for quick prototyping of front end projects. User can choose from several options when scaffolding out a project that includes ES6, SASS, and handlebars</p>
					</div>
				</div>
			</div>
			<div class="row screenshot">
				<div class="columns table">
					<div class="table_cell">
						<h4>Countdown Clock</h4>
						<p>A countdown clock using JavaScript, HTML, and CSS providing start, pause, and reset functionality for user selected time.</p>
					</div>
					<div class="table_cell">
						<img src="/images/screenshots/countdown-clock.jpg" alt="screenshot of countdown clock" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/portfolio-v1.jpg" alt="screenshot of previous portfolio" />
					</div>
					<div class="table_cell">
						<h4>Portfolio V1</h4>
						<p>A from scratch static portfolio website using HTML, CSS, and JavaScript</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container reach_out">
			<div class="row">
				<div class="columns title">
					<h2>Let's chat if you too <span class="highlight">are motivated </span><br/>
					by people who <span class="highlight">
					{{!-- care about what they do</span><br/> --}}
					take <span class="highlight">pride</span> in their <span class="highlight">performance</span><br/>
					and <span class="highlight">work hard</span> but <span class="highlight">enjoy life</span></h2>
				</div>
			</div>
			<div class="row container_resumes">
				<div class="small-6 columns">
					<a href="">
						<img src="/images/icons/icon-resume@2x.png" alt="resume icon">
					</a>
					<p>Resume</p>
				</div>
				<div class="small-6 columns">
					<a href="">
						<img src="/images/icons/icon-resume@2x.png" alt="resume icon">
					</a>
					<p>Resume bw</p>
				</div>
			</div>
		</div>

		{{> footer}}

	</body>
</html>