<!DOCTYPE html>
<html class="no-js" lang="en" />

	{{> head meta-title=personal-projects.meta-title meta-description=personal-projects.meta-description}}

	<body class="personal-projects">

		<header>
			{{> nav
				navlinkOne=personal-projects.nav.one.link
				navTitleOne=personal-projects.nav.one.title
				navLinkTwo=personal-projects.nav.two.link
				navTitleTwo=personal-projects.nav.two.title
				navLinkThree=personal-projects.nav.three.link
				navTitleThree=personal-projects.nav.three.title
			}}
		</header>

		<div class="container hero">
			<div class="row">

				<div class="columns table">
					<div class="table_cell">
						<h1>Hey there! Allow me <span class="highlight">to show</span><br/>
						some of the <span class="highlight">personal projects</span><br/>
						I have been able to  <span class="highlight">work on</span> so far</h1>
					</div>
					<div class="table_cell container_devices">
						<!-- Keyboard -->
						<svg viewBox="0 0 88 44">
							<path class="st0" d="M2.75.92a2,2,0,0,0-2,2v40a2,2,0,0,0,2,2h84a2,2,0,0,0,2-2v-40a2,2,0,0,0-1.81-2H2.75Zm2,4h10v10h-10Zm14,
								0h10v10h-10Zm14,0h10v10h-10Zm14,0h10v10h-10Zm14,0h10v10h-10Zm14,0h10v10h-10Zm-70,14h10v9h-10Zm14,0h10v9h-10Zm14,
								0h10v9h-10Zm14,0h10v9h-10Zm14,0h10v9h-10Zm14,0h10v9h-10Zm-70,13h10v9h-10Zm14,0h52v9h-52Zm56,0h10v9h-10Z" transform="translate(-0.75 -0.92)" />
						</svg>
					</div>
				</div>

			</div>
		</div>

		<div id="sites" class="container project one">
			<div class="row">
				<div class="columns title">
					<h2>Here are a few <span class="highlight">sites</span></h2>
				</div>
			</div>
			<div class="row screenshot">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/thecodelog.jpg" alt="screenshot of thecodelog" />
					</div>
					<div class="table_cell">
						<h4>the code log</h4>
						<p>Custom WordPress personal blog providing code notes and snippets to help reinforce the understanding of web development concepts</p>
						<a href="https://www.thecodelog.com/" target="_blank" rel="noopener noreferrer">Show Me</a>
					</div>
				</div>
			</div>
			<div class="row screenshot reverse">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/destinations-on-a-dash.jpg" alt="screenshot of destinations on a dash" />
					</div>
					<div class="table_cell">
						<h4>destinations on a dash</h4>
						<p>Custom WordPress blog for Destinations on a Dash, an insightful travel blog for those looking to get the most out of their trip</p>
						<a href="https://www.destinationsonadash.com/" target="_blank" rel="noopener noreferrer">Show Me</a>
					</div>
				</div>
			</div>
			<div class="row screenshot">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/portfolio-v1.jpg" alt="screenshot of previous portfolio website" />
					</div>
					<div class="table_cell">
						<h4>Portfolio V1</h4>
						<p>A from scratch static portfolio website using HTML, CSS, and JavaScript</p>
						<a href="https://github.com/DeanGilewicz/Portfolio" target="_blank" rel="noopener noreferrer">Show Me</a>
					</div>
				</div>
			</div>
		</div>

		<div id="applications" class="container project two">
			<div class="row">
				<div class="columns title">
					<h2>Here are a few <span class="highlight">apps</span></h2>
				</div>
			</div>
			<div class="row screenshot reverse">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/grocery-list.jpg" alt="screenshot of grocery list app" />
					</div>
					<div class="table_cell">
						<h4>Grocery List</h4>
						<p>A React JS and Firebase app allowing users to manage their grocery list.</p>
						<a href="https://deangilewicz.github.io/grocery-list-react/" target="_blank" rel="noopener noreferrer">Show Me</a>
					</div>
				</div>
			</div>
			<div class="row screenshot">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/we-do-denver.png" alt="screenshot of We Do Denver app" />
					</div>
					<div class="table_cell">
						<h4>We Do Denver</h4>
						<p>A Node JS and MongoDB application that allows users to document and review places they have visited in Denver.</p>
						<a href="https://we-do-denver.herokuapp.com/" target="_blank" rel="noopener noreferrer">Show Me</a>
					</div>
				</div>
			</div>
		</div>

		<div id="libraries" class="container project three">
			<div class="row">
				<div class="columns title">
					<h2>Here are a few <span class="highlight">libraries</span></h2>
				</div>
			</div>
			<div class="row screenshot reverse">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/generator-ll-prototype.jpg" alt="screenshot of yeoman generator" />
					</div>
					<div class="table_cell">
						<h4>Generator LL Prototype</h4>
						<p>A Yeoman generator for quick prototyping of front end projects. User can choose from several options when scaffolding out a project that includes ES6, SASS, and handlebars</p>
						<a href="https://www.npmjs.com/package/generator-ll-prototype" target="_blank" rel="noopener noreferrer">Show Me</a>
					</div>
				</div>
			</div>
			<div class="row screenshot">
				<div class="columns table">
					<div class="table_cell">
						<img src="/images/screenshots/countdown-clock.jpg" alt="screenshot of countdown clock" />
					</div>
					<div class="table_cell">
						<h4>Countdown Clock</h4>
						<p>A countdown clock using JavaScript, HTML, and CSS providing start, pause, and reset functionality for user selected time.</p>
						<a href="https://github.com/DeanGilewicz/countdown-clock" target="_blank" rel="noopener noreferrer">Show Me</a>
					</div>
				</div>
			</div>
		</div>

		{{> footer}}

	</body>
</html>